m4b_proxy_instances
config/user-config.json
.resources/.www/.images
.resources/.www/.config
.data
logs
docker-compose.yaml
.env
*.txt
!requirements.txt
*.log
*.bak
venv*
tmp/*
tmp.py
*.old
__pycache__
# pyinstaller folders
build
dist
*.spec