[Unit]
Description=Autostart binfmt container as a Service by MRColorR
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=10
StartLimitBurst=2
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull tonistiigi/binfmt
ExecStart=/usr/bin/docker run --privileged --rm --name %n tonistiigi/binfmt --install all

[Install]
WantedBy=default.target